* {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0rem;
  color : white;
  align-items: center;
}

.nav-brand {
  height : 2rem;
  width: 2rem;
  border-radius: 50%;
}

.nav-item-grp {
  display: flex;
  align-items: center;
  justify-content: end;
  gap : 0.5rem;
}

.nav-item {
  text-decoration: none;
  background-color: yellow;
  color : blue;
  padding : .5rem 1rem;
  border: none;
  border-radius: .2rem;
}

.container {
  margin : 0 2rem;
}